{% if book %}
  {% if book.price == 0.00 %}

<a 
  class="item_add" 
  download="{% if book.book_file %}{{ book.book_file.url }}{% else %}{{ book.book_url }}{% endif %}" 
  href="{% if book.book_file %}{{ book.book_file.url }}{% else %}{{ book.book_url }}{% endif %}">
    download
</a>
{% else %}

<form action="{% url 'cart:cart_add' book.id %}" method="post">
    {% csrf_token %} {{ cart_product_form }}
    <input class="btn" type="submit" value="ADD TO CART">
</form>

{% endif %}
{% endif %}


