<div class="categories animated wow slideInUp" data-wow-delay=".5s">
    <h3>Categories</h3>
    <ul class="cate">
        <li>
            <a href="products.html">Best Selling</a>
            <span>(15)</span>
        </li>
        <li>
            <a href="products.html">Man</a>
            <span>(16)</span>
        </li>
        <ul>
            <li>
                <a href="products.html">Accessories</a>
                <span>(2)</span>
            </li>
            <li>
                <a href="products.html">Coats & Jackets</a>
                <span>(5)</span>
            </li>
            <li>
                <a href="products.html">Jeans</a>
                <span>(1)</span>
            </li>
            <li>
                <a href="products.html">New Arrivals</a>
                <span>(0)</span>
            </li>
            <li>
                <a href="products.html">Suits</a>
                <span>(1)</span>
            </li>
            <li>
                <a href="products.html">Casual Shirts</a>
                <span>(0)</span>
            </li>
        </ul>
        <li>
            <a href="products.html">Sales</a>
            <span>(15)</span>
        </li>
        <li>
            <a href="products.html">Woman</a>
            <span>(15)</span>
        </li>
        <ul>
            <li>
                <a href="products.html">Accessories</a>
                <span>(2)</span>
            </li>
            <li>
                <a href="products.html">New Arrivals</a>
                <span>(0)</span>
            </li>
            <li>
                <a href="products.html">Dresses</a>
                <span>(1)</span>
            </li>
            <li>
                <a href="products.html">Casual Shirts</a>
                <span>(0)</span>
            </li>
            <li>
                <a href="products.html">Shorts</a>
                <span>(4)</span>
            </li>
        </ul>
    </ul>
</div>