<!-- footer -->
<div class="footer">
    <div class="container">
        
        <div class="footer-logo animated wow slideInUp" data-wow-delay=".5s">
            <h4 class="h2"><a href="{% url 'home' %}">DLearn <span>Digital Learning</span></a></h4>
        </div>
        <div class="copy-right animated wow slideInUp" data-wow-delay=".5s">
            <p>&copy 2016-2018 DLearn. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
        </div>
    </div>
</div>
<!-- //footer -->