{% load humanize %}
{% load static %}
<div class="new-collections-grid1 products-right-grid1 animated wow slideInUp" data-wow-delay=".5s">
        <div class="new-collections-grid1-image">
            <a href="{{ book.get_absolute_url }}" class="product-image">
                <img src="{{ book.image.url }}" alt=" " class="img-responsive">
            </a>
            <div class="new-collections-grid1-image-pos products-right-grids-pos">
                <a href="{{ book.get_absolute_url }}">Quick View</a>
            </div>
            <div class="new-collections-grid1-right products-right-grids-pos-right">
                <div class="rating">
                    <div class="rating-left">
                        <img src="{% static 'shop/images/2.png' %}" alt=" " class="img-responsive">
                    </div>
                    <div class="rating-left">
                        <img src="{% static 'shop/images/2.png' %}" alt=" " class="img-responsive">
                    </div>
                    <div class="rating-left">
                        <img src="{% static 'shop/images/2.png' %}" alt=" " class="img-responsive">
                    </div>
                    <div class="rating-left">
                        <img src="{% static 'shop/images/1.png' %}" alt=" " class="img-responsive">
                    </div>
                    <div class="rating-left">
                        <img src="{% static 'shop/images/1.png' %}" alt=" " class="img-responsive">
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
        <h4>
            <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
        </h4>
        
        <div class="simpleCart_shelfItem products-right-grid1-add-cart">
            <p>
                <i>$325</i>
                <span class="item_price">{% if book.price == 0.00 %}Free{% else %}₦{{ book.price|intcomma }}{% endif %}</span>
                <a class="item_add" href="#">{% if book.price == 0.00 %}download{% else %}add to cart{% endif %} </a>
            </p>
        </div>
    </div>