{% load static %}
{% load humanize %}

<div class="new-products animated wow slideInUp" data-wow-delay=".5s">
    <h3>New Books</h3>
    <div class="new-products-grids">
        {% for book in new_books %}
        <div class="new-products-grid">
            <div class="new-products-grid-left">
                <a href="{{ book.get_absolute_url }}">
                    <img src="{% if book.image %}{{ book.image.url }}{% else %}{{ book.image_url }}{% endif %}" alt="{{ book.title }}" class="img-responsive" />
                </a>
            </div>
            <div class="new-products-grid-right">
                <h4>
                    <a href="{{ book.get_absolute_url }}">{{ book.title|truncatechars:"17" }}</a>
                </h4>
                
                <div class="simpleCart_shelfItem new-products-grid-right-add-cart">
                    <p>
                        <span class="item_price">{% if book.price == 0.00 %}Free{% else %}₦{{ book.price|intcomma }}{% endif %}</span>
                        {% include "shop/partials/add_to_cart_btn.html" with book=book cart_product_form=cart_product_form %}
                        <!-- <a class="item_add" href="#">{% if book.price == 0.00 %}download{% else %}add to cart{% endif %} </a> -->
                    </p>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        {% endfor %}
    </div>
</div>