{% extends "shop/base.html" %} 
{% load static %}
{% block title %} Payments {% endblock %} {% block content %}
<!-- {% load ravepay %} -->

<!-- breadcrumbs -->

<div class="breadcrumbs">
        <div class="container">
            <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
                <li><a href="{% url 'home' %}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
                <li><a href="{% url 'cart:cart_detail' %}"><span class="" aria-hidden="true"><img src="{% static 'shop/images/bag.png' %}"></span>Cart</a></li>
                <li class="active">Payments</li>
            </ol>
        </div>
    </div>
    <!-- //breadcrumbs -->
<div class="register">
    <div class="container">
        <h3 class="animated wow zoomIn" data-wow-delay=".5s">Checkout</h3>
        
        <p class="est animated wow zoomIn animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: zoomIn;">
            Click the button below to make payments</p>
        <div class="login-form-grids">
            <p>You're almost done. Just <b>click</b> the button below to <b>pay</b> for your order.</p>
            <form action="{% url 'orders:download' order.id %}" method="POST">
                {% csrf_token %}
                <script src="https://js.paystack.co/v1/inline.js" 
                    data-key="{{ payment_public_key }}" 
                    data-email={{ order.email }} 
                    data-amount={% widthratio cart.get_total_price 1 100 %} 
                    data-ref={{ order.tx_ref }}
                    >
                    </script>
            </form>
            
        </div>

        <div class="register-home animated wow slideInUp" data-wow-delay=".5s">
            <a href="{% url 'home' %}">Home</a>
        </div>

    </div>

</div>
{% endblock content %}