{% extends "shop/base.html" %} {% include 'shop/partials/breadcrumbs.html' %} {% block content %}
<div class="register">
    <div class="container">
        <h3 class="animated wow zoomIn" data-wow-delay=".5s">Checkout</h3>
        <p class="est animated wow zoomIn" data-wow-delay=".5s"><b>Fill out this form to checkout</b></p>
        <div class="login-form-grids">
            <form class="animated wow slideInUp" data-wow-delay=".5s" action="." method="post">
                {% csrf_token %}
                <input type="text" placeholder="First Name..." required=" " name="{{ form.first_name.name }}">
                <input type="text" placeholder="Last Name..." required=" " name="{{ form.last_name.name }}">
                <input type="email" placeholder="Email Address" required=" " name="{{ form.email.name }}">
                <input type="submit" value="Place Order">
            </form>

        </div>
        <div class="register-home animated wow slideInUp" data-wow-delay=".5s">
            <a href="{% url 'home' %}">Home</a>
        </div>
    </div>
</div>
{% endblock content %}