{% extends "shop/base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% providers_media_js %}
{% block title %}
Sign In
{% endblock title %}

{% block content %}

 <!-- login -->
 <div class="login">
        <div class="container">
            <h3 class="animated wow zoomIn" data-wow-delay=".5s">Login Form</h3>
            <p class="est animated wow zoomIn" data-wow-delay=".5s">
                    {% get_providers as socialaccount_providers %}
                    {% if socialaccount_providers %}
                    <p>{% blocktrans with site.name as site_name %}Please sign in with one
                    of your existing third party accounts. Or sign in below:{% endblocktrans %}</p>
                    
                    <div class="socialaccount_ballot">
                    
                      <ul class="socialaccount_providers text-center">
                        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                      </ul>
                      <div class="h3 text-center">OR</div>
                    </div>
                    
                    {% include "socialaccount/snippets/login_extra.html" %}
                    
                    {% else %}
                    <p>{% blocktrans %}If you have not created an account yet, then please
                    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
                    {% endif %}
            </p>
            <div class="login-form-grids animated wow slideInUp" data-wow-delay=".5s">
                <form method="POST" action="{% url 'account_login' %}" data-parsley-validate>
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <div class="forgot">
                        <a href="{% url 'account_reset_password' %}">Forgot Password?</a>
                    </div>
                    <input type="submit" value="Sign In">
                </form>
            </div>
            <h4 class="animated wow slideInUp" data-wow-delay=".5s">For New People</h4>
            <p class="animated wow slideInUp" data-wow-delay=".5s"><a href="{{ signup_url }}">Sign-up Here</a> (Or) go back to <a href="{% url 'home' %}">Home<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></p>
        </div>
    </div>
<!-- //login -->
{% endblock content %}
