{% extends "shop/base.html" %} {% block title %} Password Reset {% endblock %} {% block content %}

<div class="register">
    <div class="container">
        <h3 class="animated wow zoomIn" data-wow-delay=".5s">Password Reset</h3>
        
        <div class="login-form-grids">
                
                
                <div class="categories animated wow slideInUp" data-wow-delay=".5s">
                        <p class="est animated wow zoomIn animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: zoomIn;">
                                {% if user.is_authenticated %}
                                {% include "account/snippets/already_logged_in.html" %}
                                {% endif %}
                                <p>We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.</p>
                            </p>
                  
                </div>
                
        </div>

        <div class="register-home animated wow slideInUp" data-wow-delay=".5s">
            <a href="{% url 'home' %}">Home</a>
        </div>

    </div>

</div>
{% endblock content %}