{% extends "shop/base.html" %} {% block title %} Change Password {% endblock %} {% block content %}

<div class="register">
    <div class="container">
        <h3 class="animated wow zoomIn" data-wow-delay=".5s">Change Password</h3>
        
        <div class="login-form-grids">
                <p class="text-center"><b>Your password is now changed.</b></p>
                
                
        </div>

        <div class="register-home animated wow slideInUp" data-wow-delay=".5s">
            <a href="{% url 'home' %}">Home</a>
        </div>

    </div>

</div>

{% endblock content %}