{% extends "shop/base.html" %} {% block title %} Password Reset {% endblock %} {% block content %}

<div class="register">
    <div class="container">
        <h3 class="animated wow zoomIn" data-wow-delay=".5s">Password Reset</h3>
        
        
        <div class="login-form-grids">
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
            <p class="text-center">Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>
            <form method="post" action="{% url 'account_reset_password' %}" data-parsley-validate>
                {% csrf_token %} 
                
                <label for="id_email" class="sr-only">E-mail:</label> 
                <input type="email" name="email" size="30" id="id_email" placeholder="E-mail address" required="">
                <input type="submit" value="Reset My Password" />
            </form>
        </div>

    </div>

</div>
{% endblock content %}