{% extends "shop/base.html" %} {% block title %} Set Password {% endblock %} {% block content %}
<!-- register -->
<div class="register">
		<div class="container">
			<h3 class="animated wow zoomIn" data-wow-delay=".5s">Set Password</h3>
			{% if messages %} {% for message in messages %}
        <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} text-center">
            {{ message|safe }}
        </div>
        {% endfor %} {% endif %}
			<div class="login-form-grids">
				
                {% if form.errors %}
                    {{ form.errors }}
                {% endif %}
                

                <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" name="action" value="Set Password"/>
                </form>
				
			</div>
		</div>
	</div>
<!-- //register -->
{% endblock content %}

