{% extends "shop/base.html" %} {% block title %} Change Password {% endblock %} {% block content %}
<!-- register -->
<div class="register">
		<div class="container">
			<h3 class="animated wow zoomIn" data-wow-delay=".5s">Change Password</h3>
			{% if messages %} {% for message in messages %}
        <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} text-center">
            {{ message|safe }}
        </div>
        {% endfor %} {% endif %}
			<div class="login-form-grids">
				
                {% if form.errors %}
                    {{ form.errors }}
                {% endif %}
                    
				<form class="animated wow slideInUp" data-wow-delay=".5s" id="signup_form" method="post" action="{% url 'account_change_password' %}" data-parsley-validate>
                        {% csrf_token %}
                        
                        
                        <label for="id_oldpassword" class="sr-only">Current Password:</label>
                        <input type="password" name="oldpassword" id="id_oldpassword" placeholder="Current Password" required=" " data-parsley-minlength="8">
                        
                        <label for="id_password1" class="sr-only">New Password:</label>
                        <input type="password" name="password1" id="id_password1" placeholder="New Password" required=" " data-parsley-minlength="8">
                        
                        <label for="id_password2" class="sr-only">New Password (again):</label>
                        <input type="password" name="password2" id="id_password2" placeholder="New Password (again)" required=" " data-parsley-equalto="#id_password1" data-parsley-minlength="8">
                        
                        
                        <input type="submit" value="Change Password">
				</form>
				
			</div>
		</div>
	</div>
<!-- //register -->
{% endblock content %}

