{% extends "shop/base.html" %}
{% load i18n %}
{% load account socialaccount %}

{% block title %}
Sign In
{% endblock title %}

{% block content %}

 <!-- login -->
 <div class="login">
        <div class="container">
            <h3 class="animated wow zoomIn" data-wow-delay=".5s">Change Password</h3>
            <p class="est animated wow zoomIn" data-wow-delay=".5s">
                    {% if token_fail %}Bad Token{% else %}Change Password{% endif %}
            </p>
            <div class="login-form-grids animated wow slideInUp" data-wow-delay=".5s">
                    {% if token_fail %}
                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p>The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.</p>
                {% else %}
                    {% if form %}
                <form method="POST" action="{{ action_url }}" data-parsley-validate>
                    {% csrf_token %}
                    <label for="id_password1" class="sr-only">New Password:</label>
                    <input type="password" name="password1" id="id_password1" placeholder="New Password" required="" data-parsley-minlength="8" data-parsley-type="alphanum">
                    
                    <label for="id_password2" class="sr-only">New Password (again):</label>
                    <input type="password" name="password2" id="id_password2" placeholder="New Password (again)" required="" data-parsley-equalto="#id_password1">
                    
                    <input type="submit" value="change password">
                    
                </form>
                {% else %}
            <p>Your password is now changed.</p>
        {% endif %}
    {% endif %}
            </div>
            
        </div>
    </div>
<!-- //login -->
{% endblock content %}