{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>{% block title %}{% endblock title %}</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="{% static 'shop/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'shop/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script src="{% static 'shop/js/jquery.min.js' %}"></script>
<!-- //js -->
<!-- cart -->
<script src="{% static 'shop/js/simpleCart.min.js' %}"></script>
<!-- cart -->
<!-- for bootstrap working -->
<script type="text/javascript" src="{% static 'shop/js/bootstrap-3.1.1.min.js' %}"></script>
<!-- //for bootstrap working -->
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<!-- timer -->
<link rel="stylesheet" href="{% static 'shop/css/jquery.countdown.css' %}" />
<!-- //timer -->
<!-- animation-effect -->
<link href="{% static 'shop/css/animate.min.css' %}" rel="stylesheet"> 
<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
<link rel="stylesheet" href="{% static 'shop/css/bootstrap-social.css' %}">
<link rel="stylesheet" href="{% static 'shop/css/parsley.css' %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<script src="{% static 'shop/js/wow.min.js' %}"></script>
<script>
 new WOW().init();
</script>
<!-- //animation-effect -->
{% block opengraph %}
  <meta property="og:type"          content="website" />
  <meta property="og:description"   content="A website to get digital products such as PDF to learn programming or any form of technology" />
{% endblock opengraph %}
</head>
	
<body>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '234840864036426',
        xfbml      : true,
        version    : 'v3.1'
      });
    
      FB.AppEvents.logPageView();
    
    };
  
    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "https://connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>
  
  <script>window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);
    
      t._e = [];
      t.ready = function(f) {
        t._e.push(f);
      };
    
      return t;
    }(document, "script", "twitter-wjs"));</script>
{% include './partials/header.html' %}

{% block content %}

{% endblock content %}

{% include './partials/footer.html' %}

<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
<script src="{% static 'shop/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'shop/js/parsley.min.js' %}"></script>
{% block extra_js %}
  
{% endblock extra_js %}
<!-- Place this tag in your head or just before your close body tag. -->
<script src="https://apis.google.com/js/platform.js" async defer></script>

</body>
</html>