 {% extends "shop/base.html" %} {% load static %} 
 {% load shop_tags %}
 {% load daguerre %}
 {% block content %}
 
<!-- breadcrumbs -->
<div class="breadcrumbs">
        <div class="container">
            <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
                <li>
                    <a href="{% url 'home' %}">
                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a>
                </li>
                <li class="active">All Books</li>
                
            </ol>
        </div>
    </div>

<div class="products">
    <div class="container">
        <div class="col-md-4 products-left">
            
           
              {% include './partials/categories.html' with categories=categories category=category %}
            
            {% show_new_books 3 %}
            
            {% if discount %}
                
            <div class="men-position animated wow slideInUp" data-wow-delay=".5s">
                <a href=""><img src="{% adjust discount.image 'fill' width=500 height=634 %}" alt=" " class="img-responsive" /></a>
                <div class="men-position-pos">
                    <h4>{{ discount.title }}</h4>
                    <h5><span>{{ discount.percent_discount}}%</span> Flat Discount</h5>
                </div>
			</div>
            {% endif %}
        </div>
        <div class="col-md-8 products-right">
            <div class="products-right-grid">
                
                <div class="products-right-grids-position animated wow slideInRight" data-wow-delay=".5s">
                    <img src="{% static 'shop/images/library.jpg' %}" alt=" " class="img-responsive" />
                    <div class="products-right-grids-position1">
                        <h4>{% if category %}{{ category.name }}{% else %}All Books{% endif %}</h4>
                        <p>{{ category.description }}</p>
                    </div>
                </div>
            </div>
            <div class="products-right-grids-bottom">
                <div class="col-md-4 products-right-grids-bottom-grid">
                    {% for book in  books|slice:":3" %}
                       {% include './partials/list_item.html' with book=book cart_product_form=cart_product_form %}
                    {% endfor %}
                    
                </div>
                <div class="col-md-4 products-right-grids-bottom-grid">
                    {% for book in  books|slice:"3:6" %}
                        {% include './partials/list_item.html' with book=book %}
                     {% endfor %}
                </div>
                <div class="col-md-4 products-right-grids-bottom-grid">
                        {% for book in  books|slice:"6:9" %}
                        {% include './partials/list_item.html' with book=book %}
                     {% endfor %}
                </div>
                
                {% if not books %}
                    <p class="text-center"><b>No products to display</b></p>
                {% endif %}
                    
                <div class="clearfix"> </div>
            </div>
            {% include "shop/partials/pagination.html" with page_obj=books %}
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //breadcrumbs -->
{% endblock content %}