{% extends 'shop/base.html' %} {% load humanize %} {% load static %} {% block title %} {{ book.title }} by {{ book.author
}} {% endblock title %} {% block content %} {% include './partials/breadcrumbs.html' %}
<!-- single -->
<div class="single">
    <div class="container">
        <div class="col-md-4 products-left">
            <div class="filter-price animated wow slideInUp" data-wow-delay=".5s">
                <h3>Filter By Price</h3>
                <ul class="dropdown-menu1">
                    <li>
                        <a href="">
                            <div id="slider-range"></div>
                            <input type="text" id="amount" style="border: 0" />
                        </a>
                    </li>
                </ul>
                <script type='text/javascript'>//<![CDATA[ 
                    $(window).load(function () {
                        $("#slider-range").slider({
                            range: true,
                            min: 0,
                            max: 100000,
                            values: [10000, 60000],
                            slide: function (event, ui) {
                                $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
                            }
                        });
                        $("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider("values", 1));


                    });//]]>
                </script>
                <script type="text/javascript" src="{% static 'shop/js/jquery-ui.min.js' %}"></script>
                <!---->
            </div>
            {% include "./partials/categories.html" with categories=categories category=book.category %}

            <div class="men-position animated wow slideInUp" data-wow-delay=".5s">
                <a href="single.html">
                    <img src="images/29.jpg" alt=" " class="img-responsive" />
                </a>
                <div class="men-position-pos">
                    <h4>Summer collection</h4>
                    <h5>
                        <span>55%</span> Flat Discount</h5>
                </div>
            </div>
        </div>
        <div class="col-md-8 single-right">
            <div class="col-md-5 single-right-left animated wow slideInUp" data-wow-delay=".5s">
                <div class="flexslider">
                    <ul class="slides">
                        <li data-thumb="{{ book.image.url }}">
                            <div class="thumb-image">
                                <img src="{{ book.image.url }}" data-imagezoom="true" class="img-responsive"> </div>
                        </li>

                    </ul>
                </div>
                <!-- flixslider -->
                <script defer src="{% static 'shop/js/jquery.flexslider.js' %}"></script>
                <link rel="stylesheet" href="{% static 'shop/css/flexslider.css' %}" type="text/css" media="screen" />
                <script>
                    // Can also be used with $(document).ready()
                    $(window).load(function () {
                        $('.flexslider').flexslider({
                            animation: "slide",
                            controlNav: "thumbnails"
                        });
                    });
                </script>
                <!-- flixslider -->
            </div>
            <div class="col-md-7 detail single-right-left simpleCart_shelfItem animated wow slideInRight" data-wow-delay=".5s">
                <h3>{{ book.title }}</h3>
                <h4>
                    <span class="item_price">{% if book.price == 0.00 %}Free{% else %}₦{{ book.price|intcomma }}{% endif %}</h4>
                <div class="rating1">
                    <span class="starRating">
                        <input id="rating5" type="radio" name="rating" value="5">
                        <label for="rating5">5</label>
                        <input id="rating4" type="radio" name="rating" value="4">
                        <label for="rating4">4</label>
                        <input id="rating3" type="radio" name="rating" value="3" checked>
                        <label for="rating3">3</label>
                        <input id="rating2" type="radio" name="rating" value="2">
                        <label for="rating2">2</label>
                        <input id="rating1" type="radio" name="rating" value="1">
                        <label for="rating1">1</label>
                    </span>
                </div>
                <div class="description">
                    <h5>
                        <i>Description</i>
                    </h5>
                    <p>{{ book.description|truncatewords:22}}</p>
                </div>


                <div class="occasion-cart">

                    {% include "./partials/add_to_cart_btn.html" with book=book cart_product_form=cart_product_form %}
                </div>
                <div class="social">
                    <div class="social-left">
                        <p>Share On :</p>
                    </div>
                    <div class="social-right">
                        <ul class="social-icons">
                            <li>
                                <a href="#" class="facebook"></a>
                            </li>
                            <li>
                                <a href="#" class="twitter"></a>
                            </li>
                            <li>
                                <a href="#" class="g"></a>
                            </li>
                            <li>
                                <a href="#" class="instagram"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
            <div class="bootstrap-tab animated wow slideInUp" data-wow-delay=".5s">
                <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                    <ul id="myTab" class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Description</a>
                        </li>
                        <li role="presentation">
                            <a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">Reviews(2)</a>
                        </li>
                        <li role="presentation">
                            <a href="#info1" role="tab" id="profile-tab" data-toggle="tab" aria-controls="info">Information</a>
                        </li>

                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active bootstrap-tab-text" id="home" aria-labelledby="home-tab">
                            <h5>"{{ book.title }}" Brief Description</h5>
                            <p>{{ book.description|linebreaks }}</p>
                        </div>
                        <div role="tabpanel" class="tab-pane fade bootstrap-tab-text" id="profile" aria-labelledby="profile-tab">
                            <div class="bootstrap-tab-text-grids">
                                <div class="bootstrap-tab-text-grid">
                                    <div class="bootstrap-tab-text-grid-left">
                                        <img src="images/4.png" alt=" " class="img-responsive" />
                                    </div>
                                    <div class="bootstrap-tab-text-grid-right">
                                        <ul>
                                            <li>
                                                <a href="#">Admin</a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="glyphicon glyphicon-share" aria-hidden="true"></span>Reply</a>
                                            </li>
                                        </ul>
                                        <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam,
                                            nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit.</p>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="bootstrap-tab-text-grid">
                                    <div class="bootstrap-tab-text-grid-left">
                                        <img src="images/5.png" alt=" " class="img-responsive" />
                                    </div>
                                    <div class="bootstrap-tab-text-grid-right">
                                        <ul>
                                            <li>
                                                <a href="#">Admin</a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="glyphicon glyphicon-share" aria-hidden="true"></span>Reply</a>
                                            </li>
                                        </ul>
                                        <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam,
                                            nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit.</p>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="add-review">
                                    <h4>add a review</h4>
                                    <form>
                                        <input type="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="">
                                        <input type="email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
                                        <input type="text" value="Subject" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Subject';}" required="">
                                        <textarea type="text" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message...';}" required="">Message...</textarea>
                                        <input type="submit" value="Send">
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade bootstrap-tab-text" id="info1" aria-labelledby="dropdown1-tab">
                            <p>
                                <dl class="dl-horizontal">
                                    <dt>Author:</dt>
                                    <dd>{{ book.author }}</dd>
                                    <dt>Publication date:</dt>
                                    <dd>{{ book.year|date:"Y" }}</dd>
                                    <dt>Publisher:</dt>
                                    <dd>{{ book.publisher }}</dd>
                                    <dt>ISBN:</dt>
                                    <dd>{{ book.isbn }}</dd>
                                    <dt>File Format:</dt>
                                    <dd>{{ book.file_format }}</dd>
                                    <dt>Pages:</dt>
                                    <dd>{{ book.num_pages }}</dd>

                                </dl>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //single -->
<!-- single-related-products -->
{% include "./partials/related_books.html" with similar_books=similar_books %}
<!-- //single-related-products -->
{% endblock content %}