 {% extends "shop/base.html" %} {% load static %} 
 {% load shop_tags %}
 {% block content %}
 
<!-- breadcrumbs -->
{% include './partials/breadcrumbs.html' %}

<div class="products">
    <div class="container">
        <div class="col-md-4 products-left">
            <div class="filter-price animated wow slideInUp" data-wow-delay=".5s">
                <h3>Filter By Price</h3>
                <ul class="dropdown-menu1">
                    <li>
                        <a href="">
                            <div id="slider-range"></div>
                            <input type="text" id="amount" style="border: 0" />
                        </a>
                    </li>
                </ul>
                <script type='text/javascript'>//<![CDATA[ 
                    $(window).load(function () {
                        $("#slider-range").slider({
                            range: true,
                            min: 0,
                            max: 100000,
                            values: [20000, 80000],
                            slide: function (event, ui) {
                                $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
                            }
                        });
                        $("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider("values", 1));


                    });//]]>
                </script>
                <script type="text/javascript" src="{% static 'shop/js/jquery-ui.min.js' %}"></script>
                <!---->
            </div>
           
              {% include './partials/categories.html' with categories=categories category=category %}
            
            {% show_new_books 3 %}
            
            <div class="men-position animated wow slideInUp" data-wow-delay=".5s">
                <a href="single.html">
                    <img src="images/27.jpg" alt=" " class="img-responsive" />
                </a>
                <div class="men-position-pos">
                    <h4>Summer collection</h4>
                    <h5>
                        <span>55%</span> Flat Discount</h5>
                </div>
            </div>
        </div>
        <div class="col-md-8 products-right">
            <div class="products-right-grid">
                <div class="products-right-grids animated wow slideInRight" data-wow-delay=".5s">
                    <div class="sorting">
                        <select id="country" onchange="change_country(this.value)" class="frm-field required sect">
                            <option value="null">Default sorting</option>
                            <option value="null">Sort by popularity</option>
                            <option value="null">Sort by average rating</option>
                            <option value="null">Sort by price</option>
                        </select>
                    </div>
                    <div class="sorting-left">
                        <select id="country1" onchange="change_country(this.value)" class="frm-field required sect">
                            <option value="null">Item on page 9</option>
                            <option value="null">Item on page 18</option>
                            <option value="null">Item on page 32</option>
                            <option value="null">All</option>
                        </select>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="products-right-grids-position animated wow slideInRight" data-wow-delay=".5s">
                    <img src="{% static 'shop/images/18.jpg' %}" alt=" " class="img-responsive" />
                    <div class="products-right-grids-position1">
                        <h4>{% if category %}{{ category.name }}{% else %}All Books{% endif %}</h4>
                        <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates
                            repudiandae sint et molestiae non recusandae.</p>
                    </div>
                </div>
            </div>
            <div class="products-right-grids-bottom">
                <div class="col-md-4 products-right-grids-bottom-grid">
                    {% for book in  books|slice:":3" %}
                       {% include './partials/list_item.html' with book=book cart_product_form=cart_product_form %}
                    {% endfor %}
                    
                </div>
                <div class="col-md-4 products-right-grids-bottom-grid">
                    {% for book in  books|slice:"3:6" %}
                        {% include './partials/list_item.html' with book=book %}
                     {% endfor %}
                </div>
                <div class="col-md-4 products-right-grids-bottom-grid">
                        {% for book in  books|slice:"6:9" %}
                        {% include './partials/list_item.html' with book=book %}
                     {% endfor %}
                </div>
                <div class="clearfix"> </div>
            </div>
            <nav class="numbering animated wow slideInRight" data-wow-delay=".5s">
                <ul class="pagination paging">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="active">
                        <a href="#">1
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //breadcrumbs -->
{% endblock content %}