{% extends 'shop/base.html' %} 
{% load humanize %} 
{% load static %} 
{% load ratings %} 
{% load daguerre %}
{% block title %} {{ book.title }} by {{ book.author }} 
{% endblock title %} {% block content %}
{% block opengraph %}
    <meta property="og:url"           content="{{ request.build_absolute_uri }}" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="{{ book.title }} by {{ book.author }}" />
    <meta property="og:description"   content="{{ book.description|truncatewords:30 }}" />
    <meta property="og:image"         content="{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{{ book.image.url }}" />
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="650"/>
{% endblock opengraph %} 

<div class="breadcrumbs">
        <div class="container">
            <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
                <li>
                    <a href="{% url 'home' %}">
                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a>
                </li>
                <li>
                    <a href="{% url 'shop:book_list' %}">
                        <span class="glyphicon glyphicon-book" aria-hidden="true"></span>All Books</a>
                </li>
                <li class="active">{{ book.title }}</li>
            </ol>
        </div>
    </div>
<!-- single -->
<div class="single">
    <div class="container">
        <div class="col-md-4 products-left">
            
            {% include "./partials/categories.html" with categories=categories category=book.category %}
            
            {% if discount %}
            <div class="men-position animated wow slideInUp" data-wow-delay=".5s">
                <a href="">
                    <img src="{% adjust discount.image 'fill' width=500 height=634 %}" alt=" " class="img-responsive" />
                </a>
                <div class="men-position-pos">
                    <h4>{{ discount.title }}</h4>
                    <h5>
                        <span>{{ discount.percent_discount}}%</span> Flat Discount</h5>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="col-md-8 single-right">
            <div class="col-md-5 single-right-left animated wow slideInUp" data-wow-delay=".5s">
                <div class="flexslider">
                    <ul class="slides">
                        <li data-thumb="{{ book.image.url }}">
                            <div class="thumb-image">
                                <img src="{{ book.image.url }}" data-imagezoom="true" class="img-responsive"> </div>
                        </li>

                    </ul>
                </div>
                <!-- flixslider -->
                <script defer src="{% static 'shop/js/jquery.flexslider.js' %}"></script>
                <link rel="stylesheet" href="{% static 'shop/css/flexslider.css' %}" type="text/css" media="screen" />
                <script>
                    // Can also be used with $(document).ready()
                    $(window).load(function () {
                        $('.flexslider').flexslider({
                            animation: "slide",
                            controlNav: "thumbnails"
                        });
                    });
                </script>
                <!-- flixslider -->
            </div>
            <div class="col-md-7 detail single-right-left simpleCart_shelfItem animated wow slideInRight" data-wow-delay=".5s">
                <h3>{{ book.title }}</h3>
                
                <h4>
                    <span class="item_price">
                        {% if book.price == 0.00 %}
                            Free
                        {% else %}
                        ₦
                        {% if book.featured %}
                            {{ book.discount_price|intcomma }}
                        {% else %}
                            {{ book.price|intcomma }}
                        {% endif %}
                            
                        
                        {% endif %}</h4>
                <div class="rating1">
                    {% ratings book %}
                </div>
                <div class="description">
                    <h5>
                        <i>Description</i>
                    </h5>
                    <p>{{ book.description|truncatewords:22}}</p>
                </div>


                <div class="occasion-cart">

                    {% include "./partials/add_to_cart_btn.html" with book=book cart_product_form=cart_product_form %}
                </div>
                <div class="social">
                    <div class="social-left">
                        <p>Share On :</p>
                    </div>
                    <div class="social-right">
                        <ul class="social-icons">
                            <li data-href="{{ request.build_absolute_uri }}" data-mobile-iframe="true">
                                <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri|urlencode }}&amp;src=sdkpreparse" class="facebook"></a>
                                
                                
                            </li>
                            <li>
                                <a href="#" class="twitter"></a>
                            </li>
                            <li>
                                <a href="#" class="g"></a>
                            </li>
                            <li>
                                <a href="#" class="instagram"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
            <div class="bootstrap-tab animated wow slideInUp" data-wow-delay=".5s">
                <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                    <ul id="myTab" class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Description</a>
                        </li>
                        <!-- <li role="presentation">
                            <a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">Reviews(2)</a>
                        </li> -->
                        <li role="presentation">
                            <a href="#info1" role="tab" id="profile-tab" data-toggle="tab" aria-controls="info">Information</a>
                        </li>

                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active bootstrap-tab-text" id="home" aria-labelledby="home-tab">
                            <h5>"{{ book.title }}" Brief Description</h5>
                            <p>{{ book.description|linebreaks }}</p>
                        </div>
                        <!-- <div role="tabpanel" class="tab-pane fade bootstrap-tab-text" id="profile" aria-labelledby="profile-tab">
                            <div class="bootstrap-tab-text-grids">
                                <div class="bootstrap-tab-text-grid">
                                    <div class="bootstrap-tab-text-grid-left">
                                        <img src="images/4.png" alt=" " class="img-responsive" />
                                    </div>
                                    <div class="bootstrap-tab-text-grid-right">
                                        <ul>
                                            <li>
                                                <a href="#">Admin</a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="glyphicon glyphicon-share" aria-hidden="true"></span>Reply</a>
                                            </li>
                                        </ul>
                                        <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam,
                                            nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit.</p>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="bootstrap-tab-text-grid">
                                    <div class="bootstrap-tab-text-grid-left">
                                        <img src="images/5.png" alt=" " class="img-responsive" />
                                    </div>
                                    <div class="bootstrap-tab-text-grid-right">
                                        <ul>
                                            <li>
                                                <a href="#">Admin</a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="glyphicon glyphicon-share" aria-hidden="true"></span>Reply</a>
                                            </li>
                                        </ul>
                                        <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam,
                                            nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit.</p>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="add-review">
                                    <h4>add a review</h4>
                                    <form>
                                        <input type="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="">
                                        <input type="email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
                                        <input type="text" value="Subject" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Subject';}" required="">
                                        <textarea type="text" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message...';}" required="">Message...</textarea>
                                        <input type="submit" value="Send">
                                    </form>
                                </div>
                            </div>
                        </div> -->
                        <div role="tabpanel" class="tab-pane fade bootstrap-tab-text" id="info1" aria-labelledby="dropdown1-tab">
                            <p>
                                <dl class="dl-horizontal">
                                    <dt>Author:</dt>
                                    <dd>{{ book.author }}</dd>
                                    <dt>Publication date:</dt>
                                    <dd>{{ book.year|date:"Y" }}</dd>
                                    <dt>Publisher:</dt>
                                    <dd>{{ book.publisher }}</dd>
                                    <dt>ISBN:</dt>
                                    <dd>{{ book.isbn }}</dd>
                                    <dt>File Format:</dt>
                                    <dd>{{ book.file_format }}</dd>
                                    <dt>Pages:</dt>
                                    <dd>{{ book.num_pages }}</dd>

                                </dl>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //single -->
<!-- single-related-products -->
{% include "./partials/related_books.html" with similar_books=similar_books %}
<!-- //single-related-products -->
{% endblock content %}