{% extends 'shop/base.html' %} 
{% load humanize %} 
{% load static %} 
{% load ratings %} 
{% load daguerre %}
{% block title %} {{ book.title|truncatechars:"30" }} by {{ book.author }} | {{ block.super }}                                                                       
{% endblock title %} 
{% block meta %}
    <meta name="title" content="{{ book.title }} by {{ book.author }}">
    <meta name="description" content="{{ book.description|truncatechars:"155" }}">
{% endblock meta %}
{% block content %}
{% block opengraph %}
<div id="fb-root"></div>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.1&appId=234840864036426&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <meta property="og:url"           content="{{ request.build_absolute_uri }}" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="{{ book.title }} by {{ book.author }}" />
    <meta property="og:description"   content="{{ book.description|truncatewords:30 }}" />
    <meta property="og:image"         content="{% if book.image %}{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{{ book.image.url }}{% else %}{{ book.image_url }}{% endif %}" />
    <meta property="og:image:width" content="180"/>
    <meta property="og:image:height" content="236"/>
{% endblock opengraph %} 

<div class="breadcrumbs">
        <div class="container">
            <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
                <li>
                    <a href="{% url 'home' %}">
                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a>
                </li>
                <li>
                    <a href="{% url 'shop:book_list' %}">
                        <span class="glyphicon glyphicon-book" aria-hidden="true"></span>All Books</a>
                </li>
                <li class="active">{{ book.title|truncatewords:"3" }}</li>
            </ol>
        </div>
    </div>
<!-- single -->
<div id="main" class="single">
    <div class="container">
        <div class="col-md-4 products-left">
            
            {% include "./partials/categories.html" with categories=categories category=book.category %}
            
            {% if discount %}
            <div class="men-position animated wow slideInUp" data-wow-delay=".5s">
                <a href="">
                    <img src="{% adjust discount.image 'fill' width=500 height=634 %}" alt="{{ discount.title }} " class="img-responsive" />
                </a>
                <div class="men-position-pos">
                    <h4>{{ discount.title }}</h4>
                    <h5>
                        <span>{{ discount.percent_discount}}%</span> Flat Discount</h5>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="col-md-8 single-right">
            <div class="col-md-5 single-right-left animated wow slideInUp" data-wow-delay=".5s">
                <div class="flexslider">
                    <ul class="slides">

                        <li data-thumb="{% if book.image %}{{ book.image.url }}{% else %}{{ book.image_url }}{% endif %}">
                            <div class="thumb-image">
                                <img src="{% if book.image %}{{ book.image.url }}{% else %}{{ book.image_url }}{% endif %}" data-imagezoom="true" class="img-responsive"> </div>
                        </li>

                    </ul>
                </div>
                <!-- flixslider -->
                <script defer src="{% static 'shop/js/jquery.flexslider.js' %}"></script>
                <link rel="stylesheet" href="{% static 'shop/css/flexslider.css' %}" type="text/css" media="screen" />
                <script>
                    // Can also be used with $(document).ready()
                    $(window).load(function () {
                        $('.flexslider').flexslider({
                            animation: "slide",
                            controlNav: "thumbnails"
                        });
                    });
                </script>
                <!-- flixslider -->
            </div>
            <div class="col-md-7 detail single-right-left simpleCart_shelfItem animated wow slideInRight" data-wow-delay=".5s">
                <h3>{{ book.title }}</h3>
                
                <h4>
                    <span class="item_price">
                        {% if book.price == 0.00 %}
                            Free
                        {% else %}
                        ₦
                        {% if book.featured %}
                            {{ book.discount_price|intcomma }}
                        {% else %}
                            {{ book.price|intcomma }}
                        {% endif %}
                            
                        
                        {% endif %}</h4>
                <div class="rating1">
                    {% ratings book %}
                </div>
                <div class="description">
                    <h5>
                        <i>Description</i>
                    </h5>
                    <p>{{ book.description|truncatewords:22}}</p>
                </div>


                <div class="occasion-cart">

                    {% include "./partials/add_to_cart_btn.html" with book=book cart_product_form=cart_product_form %}
                </div>
                <div class="social">
                    <div class="social-left">
                        <p>Share On :</p>
                    </div>
                    <div class="social-right">
                            
                            <ul class="social-icons">
                                <li style="float:left" class="fb-share-button" data-href="{{ request.build_absolute_uri }}" data-layout="button_count" data-size="small" data-mobile-iframe="true">
                                        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri|urlencode }}&amp;src=sdkpreparse"
                                            class="fb-xfbml-parse-ignore">Share</a>
                                    </li>
                                <li>
                                    <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text={{ book.title|urlencode }}">
                                        Tweet</a>
                                </li>
                                
                                
                                <li class="g-plus" data-action="share" data-href="{{ request.build_absolute_uri }}"></li>
                            
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
            <div class="bootstrap-tab animated wow slideInUp" data-wow-delay=".5s">
                <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                    <ul id="myTab" class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Description</a>
                        </li>
                        <!-- <li role="presentation">
                            <a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">Reviews(2)</a>
                        </li> -->
                        <li role="presentation">
                            <a href="#info1" role="tab" id="profile-tab" data-toggle="tab" aria-controls="info">Information</a>
                        </li>

                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active bootstrap-tab-text" id="home" aria-labelledby="home-tab">
                            <h5>"{{ book.title }}" Brief Description</h5>
                            <p>{{ book.description|linebreaks }}</p>
                        </div>
                        
                        <div role="tabpanel" class="tab-pane fade bootstrap-tab-text" id="info1" aria-labelledby="dropdown1-tab">
                            <p>
                                <dl class="dl-horizontal">
                                    <dt>Author(s):</dt>
                                    <dd>{{ book.author }}</dd>
                                    <dt>Publication date:</dt>
                                    <dd>{{ book.year|date:"Y" }}</dd>
                                    <dt>Publisher:</dt>
                                    <dd>{{ book.publisher }}</dd>
                                    <dt>ISBN:</dt>
                                    <dd>{{ book.isbn }}</dd>
                                    <dt>File Format:</dt>
                                    <dd>{{ book.file_format }}</dd>
                                    <dt>Pages:</dt>
                                    <dd>{{ book.num_pages }}</dd>

                                </dl>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //single -->
<!-- single-related-products -->
{% include "./partials/related_books.html" with similar_books=similar_books %}
<!-- //single-related-products -->
{% endblock content %}